*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);    
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: none;
    margin: 5vw;
    height: 4vw;
}
.navbar-brand{
    font-family: sans-serif;

    font-style: italic;
    font-weight: bold;
    font-size: 1.8vw;
    color: white;
    z-index: 3;
}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.2vw;
    z-index: 3;
}
.nav-items li{
    list-style: none;
}
.nav-links{
    color: white;
    background-color: rgba(79, 79, 79, 0.6);
    padding: 1.5vw 5.5vw;
    border-radius: 1.0vw;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
}
#about{
    background: none;
    font-size: 1.8vw;
    padding: 1.5vw 2.5vw;
}
.container{
    height: 60vw;
    position: relative;
    bottom: 14vw;
    background: url('Photos/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}
.headers{
     position: relative;
     top: 19vw;
     margin-left: 5vw;
     color: white;
     font-family: sans-serif;
}
.headers h1{
    font-size: 4.6vw;
    margin-bottom: 3.5vw;
}
.headers div{
    width: 53vw;
}
.headers h3{
    font-size: 3vw;
    word-break: break-word;
}
.chat-explore-container{
    position: relative;
    top: 24vw;
}
.chatbox-explore{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0 5vw;
}
#explore{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 2.3vw;
    padding:2.7vw 1.5vw;
    border-radius: 1vw;
}
#chatbox{
    text-decoration: none;
}
#chatbox div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 0, 0);
    padding: 1vw 2vw;
    border-radius: 3.5vw;
    width: 8vw;
}
#chatbox div img{
    height: 1.4vw;
}
#chatbox div p{
    color: white;
    font-family: sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
}
.second-container{
    background-color: rgb(0, 0, 0);
    height: 38vw;
    position: relative;
    bottom: 14vw;
}
.flex-pics-text-container{
    position: relative;
    top: 9vw;
    margin-left: 5vw;
} 
.flex-pics-text{
    background-color: rgba(79, 79, 79, 0.7);
    width: 32vw;
    height: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pics-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pics-text img{
    width: 6vw;
    height: 5vw;
    margin-left: 3.5vw;
}
.pics-text p{
    font-size: 1.9vw;
    color: #ffffff;
    font-family: sans-serif;
    margin-left: 1.5vw;
}
.list-container{
    position: relative;
    bottom: 15vw;
    left: 50vw;
    width: 48vw;
}
.list-container ul li{
    color: white;
    font-family: sans-serif;
    font-size: 1.9vw;
   margin: 1.2vw;
}
.line{
    position: relative;
    bottom: 42vw;
    left: 35vw;
    height: 27vw;
    width: 3.7vw;
    background-color: #ffffff;
    transform: rotate(185deg);
}
.grey-container{
    height: 59vw;
    background-color: rgba(68, 68, 68);
    position: relative;
    bottom: 37vw;
    color: white;
    font-family: sans-serif;
}
.grey-container h1{
    text-align: center;
    font-size: 2.5vw;
    padding: 4vw;
}
.white-border{
    display: flex;
    flex-direction: row;
    border: 0.5vw white solid;
    border-radius: 0.5vw;
    width: 90%;
    margin: auto;
}
.white-border ul{
    padding: 5vw;
}
.white-border ul li{
    font-size: 1.5vw;
}
.third-container{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    height: 39vw;
    position: relative;
    bottom: 37vw;
}
.third-container h1{
    padding : 3vw;
    font-size: 2.8vw;
    text-align: center;
}
.third-flexbox{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
.third-items{
    text-align: center;
}
.third-items img{
    height: 10vw;
    margin: 2vw;
}
.third-items h2{
    font-size: 2.5vw; 
}
.third-items p{
    font-size: 1.5vw;
    padding: 0vw 2vw;
}
.fourth-container{
    background-color: rgb(60, 60, 60);
    height: 65vw;
    position: relative;
    bottom: 37vw;
    color: #ffffff;
    font-family: sans-serif;
}
.fourth-container h1{
    padding: 3vw;
    font-size: 2.7vw;
    font-weight: bold;
    text-align: center;
}
.fourth-flexbox{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.courses{
    background-color: rgb(0, 0, 0);
    border: 0.4vw solid white;
    border-radius: 1vw;
    width: 45%;
}
.courses h2{
    font-size: 2.7vw;
    text-align: center;
     padding: 1.5vw;
}
.prices{
    font-size: 2.7vw;
    text-align: center;
    background-color: #500000;
    font-weight: bold;
    padding: 0.5vw;
}
.courses ul{
    width: 85%;
    margin: auto;
    padding: 2vw  4vw;
    font-size: 1.8vw;
}
.courses ul li{
    margin: 1.5vw 0vw;
}
.learn-more{
    background-color: none;
    text-align: center;
    margin: 2vw 0vw;
}
.learn-more a{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 2.2vw;
    padding: 1vw 3vw;
    border-radius: 1vw;
    text-align: center;
    margin: auto;
}
.fifth-container{
    background-color: #000000;
    color: white;
    font-family: sans-serif;
    position: relative;
    bottom: 37vw;
    text-align: center;
}
.fifth-container h1{
    padding-top: 8vw;
    padding-bottom: 1vw;
    font-size: 2vw;
    font-weight: bold;
}
.img-links img{
    height: 4vw;
    width: 4vw;
    padding: 0vw 0.2vw;
}
.final-links{
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
    padding: 3vw 0vw ;
}
.fifth-container p{
    font-size: 1.2vw;
}
.expanded-course{
    width: 100vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}
#expanded-course-img{

}